
:root {
	--sm: 0.25rem;
	--md: 0.5rem;
	--def: 1rem;
	--lg: 2rem;
}

body {
	padding: var(--md);
	overflow: hidden;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* HEADER */
#header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: var(--md);
}

#header-input {
	display: flex;
	align-items: center;
}
#header-input input {
	height: var(--lg);
	border-radius: var(--sm);
	border-color: #1D1D1B;
	background-color: #FFFFFF;
}
#header-input .logo {
	height: var(--lg);
	width: var(--lg);
	margin-right: var(--sm);
}

#header-actions {
	display: flex;
	flex-direction: column;
}
#header-actions *:not(:last-child) {
	margin-bottom: var(--sm);
}
#header-actions button {
	background-color: #1D1D1B;
	color: #FFFFFF;
	width: 100%;
	max-width: 88px;
	border: none;
	background-color: #52BD95;
	border-radius: var(--sm);
	color: #FFFFFF;
	padding: var(--md);
	transition: background-color 0.5s;
}
#header-actions button:hover {
	background-color: #068465;
}

#header-title {
	font-size: 26px;
	font-weight: normal;
	margin: 0px;
}
/* END HEADER */

/* EVENT */
.eventTracked {
	margin-bottom: 1px;
}
.eventTracked.hidden {
	display: none;
}
.eventTracked:first-of-type {
	border-top-left-radius: var(--sm);
	border-top-right-radius: var(--sm);
}
.eventTracked:last-of-type {
	border-bottom-left-radius: var(--sm);
	border-bottom-right-radius: var(--sm);
}

.eventInfo {
	width: 100%;
	font-size: 1rem;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.eventInfoLeft {
	display: flex;
	flex-direction: column;
	max-width: 75%;
	padding: var(--md);
}
.eventInfoRight {
	padding: var(--md);
}
.eventName {
	color: #FFFFFF;
}
.eventHostName {
	font-size: 0.75rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
}
.eventContent {
	display: none;
	font-size: 1var(--sm);
	background-color: #FFFFFF;
	padding: var(--md);
	margin-top: var(--md);
	margin-bottom: var(--md);
	overflow-y: auto;
	height: 400px;
	border: 1px solid #DDDDDD;
	white-space: pre;
    color: #1D1D1B;
}
.eventContent::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
.eventContent::-webkit-scrollbar-track {
	background: #FFFFFF; 
}
.eventContent::-webkit-scrollbar-thumb {
	background-color: rgb(53, 36, 70); 
	border-radius: var(--sm);
}
.eventType_identify {
	background-color: #52BD95;
	color: #FFFFFF;
}
.eventType_pageLoad {
	background-color: #6156BB;
    color: #FFFFFF
}
.eventType_track {
	background-color: #1D1D1B;
    color: #FFFFFF;
}
.eventType_batch {
	background-color: #b890b5;
}
/* END EVENT */


/* MESSAGES */
#trackMessages {
	overflow: auto;
	font-size: var(--def);
}
#trackMessages::-webkit-scrollbar {
	width: 12px;
}
#trackMessages::-webkit-scrollbar-track {
	background: #FFFFFF; 
}
#trackMessages::-webkit-scrollbar-thumb {
	background: #52BD95; 
	border-radius: 5px;
}
/* END MESSAGES */

/* MISC */
.string { color: green; }
.number { color: blue; }
.boolean { color: purple; }
.null { color: magenta; }
.key { color: black; font-weight: bold; }

.buttonDiv {
	padding-top: var(--md);
	text-align: right;
}

.configurationDiv {
	width: 100%;
}
#apiDomain {
	width: 100%;
	margin-top: var(--md);
}
/* END MISC */

#segment_popup {
	width: 700px;
}

#segment_popup #trackMessages {
	max-height: 460px;
}
#segment_panel #trackMessages {
	max-height: calc(100vh - 100px);
}